body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.holder{
  padding: 10px;
  background-color: darkcyan;
  margin: auto;
  width: 30%;
}

img {
  border-radius: 50%;
  
}